<h1>Start a new vine</h1>
<form id="new-vine" name="vine">
  <fieldset>
    <legend>创建新图藤</legend>
    <div class="clearfix">
      <label for="name">图藤名</label>
      <div class="input">
        <input type="text" name="name" id="name" class="xlarge" value="<%= name %>" >
      </div>
    </div><!-- /clearfix -->
    <div class="actions">
      <input type="submit" class="btn primary" value="确定" />
      <a href="#!/index" class="btn">返回</a>
    </div>
  </fieldset>
</form>



