<!-- Upload button -->
<div class="uploadButton">
  <div class="fluploader_wrapper">
    <div class="fluploader_select uiButton">
      <div class="select-photo">Select Photo</div>
    </div>
    <div class="fluploader_swfdiv">
      <input id="uploadify" name="uploadify" type="file" />
    </div>
  </div>
</div>
<!-- Photos Grid -->
<div id="photos"></div>
