<a class="uiMediaThumb uiMediaThumbHuge uiMediaThumbAlb uiMediaThumbAlbHuge" href="#!/<%= id %>">
  <span class="uiMediaThumbWrap">
    <i style="background-image: url(<%= cover %>)"></i>
  </span>
</a>
<div class="pvs photoDetails">
  <div class="photoText">
    <a href="#!/<%= id %>"><%= name %></a>
  </div>
</div>